.FormSendMessage {
  .FormSend {
    width: 100%;
    background-color: white;
    height: 44px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .inputMessage {
      flex: 1;
      height: 100%;
      background-color: transparent;
      border: none;
      outline: none;
      color: var(--text2-color);
      &::placeholder {
        color: var(--text2-color);
      }
    }
    .buttonSend {
      background-color: var(--primary-color);
      color: white;
      border: none;
    }
  }
}
